
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Project/css/styles.css" rel="stylesheet" type="text/css"/>
<body>
    <div class="wrapperTable">
        <div class="single-price">
            <h1>Basic</h1>
            <div class="price">
                <h2>$15</h2>
            </div>
            <div class="deals">
                <h4>Lorem İpsum Dolar</h4>
                <h4>Lorem İpsum Dolar</h4>
                <h4>Lorem İpsum Dolar</h4>
                <h4>Lorem İpsum Dolar</h4>
                <h4>Lorem İpsum Dolar</h4>
            </div>
            <a href="#">Select</a>
        </div>
        <div class="single-price">
            <h1>Standart</h1>
            <div class="price">
                <h2>$35</h2>
            </div>
            <div class="deals">
                <h4>Lorem İpsum Dolar</h4>
                <h4>Lorem İpsum Dolar</h4>
                <h4>Lorem İpsum Dolar</h4>
                <h4>Lorem İpsum Dolar</h4>
                <h4>Lorem İpsum Dolar</h4>
            </div>
            <a href="#">Select</a>
        </div>
        <div class="single-price">
            <h1>Premium</h1>
            <div class="price">
                <h2>$55</h2>
            </div>
            <div class="deals">
                <h4>Lorem İpsum Dolar</h4>
                <h4>Lorem İpsum Dolar</h4>
                <h4>Lorem İpsum Dolar</h4>
                <h4>Lorem İpsum Dolar</h4>
                <h4>Lorem İpsum Dolar</h4>
            </div>
            <a href="#">Select</a>
        </div>
    </div>
</body>



