
@{
    ViewBag.Title = "Index";
    Layout = null;
}



<link href="~/Content/lib/Swiper/css/swiper-bundle.css" rel="stylesheet" />
<link href="~/Content/Project/css/Style2.css" rel="stylesheet" />

<header>
    <a href="#" class="logo"><img src="~/Content/Project/images/logo.png"></a>

</header>
<div class="banner">
    <div class="content">
        <h2>Put on a<span>Happy</span>face</h2>
        <p>
            Lorem, ipsum dolor sit amet consectetur
            adipisicing elit. Labore voluptate corporis
            ducimus magnam possimus commodi dicta odio
            suscipit! Dolorum sapiente, error eligendi distinctio
            excepturi vero aperiam porro ex. Laudantium, vitae!
        </p>joker
        <a href="singleVideo.html" class="play"><img src="~/Content/Project/images/play.png">Watch Trailer</a>
        <div class="slide"> </div>
        <ul class="sci">
            <li><a href="#"><img src="~/Content/Project/images/facebook.png"></a></li>
            <li><a href="#"><img src="~/Content/Project/images/twitter.png"></a></li>
            <li><a href="#"><img src="~/Content/Project/images/instagram.png"></a></li>

        </ul>

    </div>
</div>

<!-- Swiper -->

<div class="netflix-slider">
    <h2>Popular on Netflix</h2>
    <div class="swiperSingleContainer swiper-container">
        <div class="cardWraper swiper-wrapper">
            <a href="#" class="swiper-slide"><img src="~/Content/Project/images/thumbnail (2).jpg" alt="Movie Title"></a>
            <a href="#" class="swiper-slide"><img src="~/Content/Project/images/thumbnail (3).jpg" alt="Movie Title"></a>
            <a href="#" class="swiper-slide"><img src="~/Content/Project/images/thumbnail.jpg" alt="Movie Title"></a>
            <a href="#" class="swiper-slide"><img src="~/Content/Project/images/thumbnail (2).jpg" alt="Movie Title"></a>
            <a href="#" class="swiper-slide"><img src="~/Content/Project/images/thumbnail (3).jpg" alt="Movie Title"></a>
            <a href="#" class="swiper-slide"><img src="~/Content/Project/images/thumbnail (1).jpg" alt="Movie Title"></a>
            <a href="#" class="swiper-slide"><img src="~/Content/Project/images/thumbnail.jpg" alt="Movie Title"></a>
            <a href="#" class="swiper-slide"><img src="~/Content/Project/images/thumbnail (3).jpg" alt="Movie Title"></a>
            <a href="#" class="swiper-slide"><img src="~/Content/Project/images/thumbnail (1).jpg" alt="Movie Title"></a>
        </div>
        <!-- Add Pagination -->
        <!-- <div class="swiper-pagination"></div> -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>

<div class="netflix-slider">
    <h2>Continue watching...</h2>
    <div class="swiperSingleContainer swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="~/Content/Project/images/thumbnail (1).jpg" alt="Movie Title"></div>
            <div class="swiper-slide"><img src="~/Content/Project/images/thumbnail (2).jpg" alt="Movie Title"></div>
            <div class="swiper-slide"><img src="~/Content/Project/images/thumbnail (3).jpg" alt="Movie Title"></div>
            <div class="swiper-slide"><img src="~/Content/Project/images/thumbnail.jpg" alt="Movie Title"></div>
            <div class="swiper-slide"><img src="~/Content/Project/images/thumbnail (2).jpg" alt="Movie Title"></div>
            <div class="swiper-slide"><img src="~/Content/Project/images/thumbnail (3).jpg" alt="Movie Title"></div>
            <div class="swiper-slide"><img src="~/Content/Project/images/thumbnail (1).jpg" alt="Movie Title"></div>
            <div class="swiper-slide"><img src="~/Content/Project/images/thumbnail.jpg" alt="Movie Title"></div>
            <div class="swiper-slide"><img src="~/Content/Project/images/thumbnail (3).jpg" alt="Movie Title"></div>
            <div class="swiper-slide"><img src="~/Content/Project/images/thumbnail (1).jpg" alt="Movie Title"></div>
        </div>
        <!-- Add Pagination -->
        <!-- <div class="swiper-pagination"></div> -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>

<!-- Swiper JS -->
<script src="~/Content/lib/Swiper/js/swiper-bundle.min.js"></script>
<script src="~/Content/Project/js/Script.js"></script>
